:root {
  --color-bg-global: #e9effc;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f5f5;
  --color-text-primary: #000000;

  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
}

/* Headings */

.heading1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: var(--spacing-lg);
}

.heading2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: var(--spacing-lg);
}

.heading3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: var(--spacing-lg);
}

.heading4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: var(--spacing-lg);
}

/* Dashboard */

.dashboard-layout {
  display: flex;
  background-color: var(--color-bg-global);
}

.dashboard-main {
  padding: var(--spacing-lg);
  width: 100%;
}

/* Sidebar */

.sidebar {
  padding: var(--spacing-lg);
  min-height: 100vh;
  min-width: 16rem;
  background-color: var(--color-bg-primary);
}

.sidebar__icon {
  height: 40px;
  width: auto;
  margin-bottom: var(--spacing-xl);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.menu__item {
  display: block;
  text-decoration: none;
  border: none;
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: 6px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  font-size: 1rem;
}

.menu__item-active {
  background-color: var(--color-bg-global);
}

/* Card */

.card {
  background-color: var(--color-bg-primary);
  border-radius: 10px;
}

.card__body {
  padding: var(--spacing-lg);
}

.employees-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-lg);
}

/* PersonCard */

.personcard-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
}
.personcard-header__photo {
  border-radius: 50%;
}

.personcard-footer {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  padding: var(--spacing-md);
  margin-top: var(--spacing-lg);
  display: grid;
  gap: var(--spacing-sm);
}

.personcard-footer__item {
  display: flex;
  gap: var(--spacing-md);
}
